
<!--Start home section-->
<section class="home-page">
    <div class="home-page__inner">
        <div class="home-page__slider">
            <div class="home-page__img">
                <img src="{{home.img.src}}" alt="{{home.img.alt}}">
            </div>
            <h1 class="home-slider__big-descr">
                {{home.big-descr}}
            </h1>
            <h3 class="home-slider__small-descr">
                {{home.small-descr}}
            </h3>
            <div class="home-slider__btn">
                {{home.btn}}
            </div>
        </div>
    </div>
</section>
<!--End Home section-->